.user-thumb {
    outline: none;
    background: $clr5;
    border-radius: 50%;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    color: $clr2;
    border: 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
    overflow: hidden;

    img {
        border-radius: 50%;
        border: 2px solid white;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        opacity: 0.8;
    }

    &:hover {
        background: darken($clr5, 7%);

        img {
            opacity: 1;
        }
    }
}