@font-face {
    src: url(../../fonts/OpenSans-Bold.ttf);
    font-family: OpenSans-Bold;
}

@font-face {
    src: url(../../fonts/OpenSans-Regular.ttf);
    font-family: OpenSans;
}

@font-face {
    src: url(../../fonts/Caveat-Regular.ttf);
    font-family: Caveat;
}

@font-face {
    src: url(../../fonts/Courgette-Regular.ttf);
    font-family: Courgette;
}