@font-face {
  src: url(../../fonts/OpenSans-Light.ttf);
  font-family: OpenSans-Light;
}

@font-face {
  src: url(../../fonts/DancingScript-VariableFont_wght.ttf);
  font-family: Dancing Script;
}

@font-face {
  src: url(../../fonts/Lobster-Regular.ttf);
  font-family: Lobster;
}

@font-face {
  src: url(../../fonts/Pacifico-Regular.ttf);
  font-family: Pacifio;
}

@font-face {
  src: url(../../fonts/Solway-Regular.ttf);
  font-family: Solway;
}

@font-face {
  src: url(../../fonts/Raleway-Regular.ttf);
  font-family: Railway;
}

@font-face {
  src: url(../../fonts/Nunito-Regular.ttf);
  font-family: Nunito;
}
@font-face {
  src: url(../../fonts/Futura-Light.otf);
  font-family: Futura Light;
}
